<div class="card" *ngFor='let articlePreview of [articlePreview$ | async]'>
    <div class="article-image"> </div>
    <div class="article-preview-content">
        <h1>{{articlePreview?.title}}</h1>
        <p>{{articlePreview?.preview_content}}</p>
        <div class="autor-information">
            <div class="autor-iamge">
                <img src="assets/images/avatar-michelle.jpg" [alt]="articlePreview?.autor">
            </div>
            <div class="autor-text">
                <h3>{{articlePreview?.autor}}</h3>
                <h4>{{articlePreview?.date}}</h4>
            </div>
            <div (click)='state = state=="active" ? "inactive": "active"' class="share-icon" [style]='state=="active" ? "background-color: #48556a": "background-color: #ecf2f8"'>
                <div [style]='state=="inactive"? "pointer-events: none;" : "pointer-events: all"' (click)='$event.stopPropagation()' [@tooltipTrigger]='state' class="share-tooltip">
                    <div class="tooltip-content">
                        <span>SHARE</span>
                        <img src="assets/images/icon-facebook.svg" alt="Facebook">
                        <img src="assets/images/icon-twitter.svg" alt="Twitter">
                        <img src="assets/images/icon-pinterest.svg" alt="Pinterest">
                    </div>
                </div>
                <img src="assets/images/icon-share.svg" alt="Share" [style]='state=="active" ? "filter: brightness(0) invert(1)": "filter: none"'>
            </div>
        </div>
    </div>
</div>